---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Header from "../../components/Header.astro";
import { getSession } from "auth-astro/server";
import Logout from "../../components/Logout.astro";
import LevelsContainer from "../../components/LevelsContainer.astro";
import FileDrop from "../../components/FileDrop.astro";

const session = await getSession(Astro);
if (!session) {
    return Astro.redirect("/login");
}
const userID = session.user?.id as string;
const userName = session.user?.name as string;

const { page } = Astro.params;
if (page === undefined) throw Error("A page number must be specified.");
const parsedPage = parseInt(page); // TODO: error handling
---

<BaseLayout>
    <div class="container">
        <Header authenticated={!!session} />
        <main>
            <h1>Dashboard</h1>
            <div class="userCard">
                <img src={session.user?.image} />
                <div class="info">
                    <h2>{userName}</h2>
                    <a href="/dashboard/account">Manage account</a>
                    <Logout text="Logout" />
                </div>
            </div>
            <h2>Upload Track</h2>
            <upload-section data-user={userID}>
                <form data-upload>
                    <FileDrop />
                    <button type="submit">Upload</button>
                </form>
            </upload-section>
            <h2>My Tracks</h2>
            <LevelsContainer
                page={parsedPage}
                root="/dashboard/"
                session={session}
                inDashboard={true}
            />
        </main>
    </div>
</BaseLayout>
<script src="./index.ts"></script>

<style lang="scss">
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    main {
        margin: auto;
        flex-grow: 1;

        // I want to preserve the semantic `main` here, so we're nesting into flex
        // again for `.levelsContainer` to take only the remaining height
        display: flex;
        flex-direction: column;

        // Width of a card + the border.
        max-width: calc(480px + 4px);
    }

    .userCard {
        width: calc(480px + 4px);
        display: flex;
        margin-bottom: 1rem;

        img {
            width: calc(24px * 3 + 8px);
            margin: 0.5rem;
            border: 2px solid black;
        }

        .info {
            font-size: 24px;

            a {
                color: black;
                display: block;
            }
        }
    }
</style>
